*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:#f4f4f4;

}

.card{
    width:320px;
    border:2px solid #333;
}

.section{
    padding:12px 15px;
}
/*Colours matching the image*/
.header-green {
    background-color:#7b9945;
    color:#1a2e05;
}

.header-green h1{
    font-size:1.5rem;
    margin-bottom:4px;
}
.header-green h2{
    background-color:1.5rem;
    font-weight:normal;
}
.header-brown {
    background-color:#8c5d43;
    color:#2b1810;
    .header-brown h2{
        font-size:1.1rem;
        font-weight:normal;
    
    }
    /*Section 3:Light Teal Question Box*/
    .content-teal{
        background-color:#b0d4d4; /*Teal border separating Question & Answer*/
    }
}
.content-teal h3{
    color:#3b6b63;
    font-size:1.1rem;
    margin-bottom:8px;
}

question-text{
    font-weight:bold;
    color:#222;

}

.content-grey{
    background-color:#cfd8dc;

}
.content-grey h3{
    color:#5b7065;
    font-size:1.1rem;
    margin-bottom:8px;

}

.content-grey p{
    color:#333;
    line-height:1.4;
    font-size:0.95rem;
}